* {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100vh;
    background-color: gray;
    position: relative;
    cursor: pointer;
}

.main img {
     width: 100%;
     height: 100%;
     object-fit: cover;
}

.overlay {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.4),white);
    bottom: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    transition: 0.5s ease;
}
 
.main:hover .overlay {
      opacity: 1;
      height: 100vh;
}

.navbar {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 8%;
}

.navbar h1 {
    color: white;
    font-size: 30px;
    position: relative;
    z-index: 1;
}

.navbar h1::after {
    content: '';
    width: 50px;
    height: 35px;
    background: yellowgreen;
    top: -20px;
    left: 0;
    position: absolute;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 30px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    background: yellowgreen;
    top: 20px;
    left: 0;
    position: absolute;
    transition: 0.5s ease;
}

nav ul li a:hover::after {
      width: 100%;
}

button {
    padding: 10px;
    border: .5px solid yellowgreen;
    background: none;
    color: white;
    font-size: 16px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

span {
    width: 0%;
    height: 100%;
    background: yellowgreen;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    transition: 0.5s ease;
}
button:hover span {
    width: 100%;

}
.content {
    max-width: 600px;
    bottom: 20%;
    left: 8%;
    position: absolute;
}
.content h1 {
    color: white;
    font-size: 70px;
    margin-bottom: 20px;
}

.btn-1 {
    width: 140px;
    padding: 15px 0;
    background: greenyellow;
    margin-right: 40px;
    cursor: pointer;
}

.btn-2 {
    width: 140px;
    padding: 15px 0;
    cursor: pointer;
    transition: 0.5s ease;

}
.btn-2:hover {
    background: yellowgreen;
    transform: scale(1.1);
}

.menu {
    width: 100%;
    padding: 70px 0;
}

.menu-title {
   text-align: center;
   padding-bottom: 50px;
}

.menu-title h3 {
    color: yellowgreen;
    font-size: 40px;
}

hr {
    width: 100px;
    border: 0;
    outline: 0;
    background: yellowgreen;
    height: 6px; 
    margin: auto;
}

.menu-row {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.col {
    flex-basis: 30%;
    position: relative; 
}

.col img {
    width: 100%;
    border-radius: 10px;
}

.overlay-1 {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.2),yellowgreen);
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0;
    transition: 0.5s ease;
}
.col:hover .overlay-1 {
    opacity: 1;
}
.text {
    text-align: center;
    bottom:  0%;
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.5s ease;
}

.text h4 {
    color: white;
    font-size: 30px;

}
.col:hover .text {
    opacity: 1;
    bottom: 40%;
}

.about {
     width: 100%;
     padding: 70px 0;
}

.about-row {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.col-1 {
    flex-basis: 45%;   
}
.col-1 img {
   width: 100%;
   border-radius: 10px;
}

.col-2 {
    flex-basis: 45%;
}
.col-2 h5 {
    text-align: center;
    font-size: 40px;
    color: yellowgreen;

}
.col-2 h6 {
    color: yellowgreen;
    font-size: 16px;
    text-align: center;
    letter-spacing: 5px;
    margin-top: 20px;
}

.col-2 p {
    color: lightgrey;
    font-size: 16px;
     line-height: 25px;
     margin-top: 20px;
     word-spacing: 6px;
     letter-spacing: 2px;
}

.contact {
    width: 100%;
    padding: 70px 0;
}
.contact-title {
    text-align: center;
    padding-bottom: 50px;
}
.contact-title h5 {
    color: yellowgreen;
    font-size: 40px;
}
.contact-form {
    width: 80%;
    margin: auto;
    text-align: center;
    border: 1px solid yellowgreen;
    padding: 70px 0;
}

.contact-form input[type="text"] {
    border: 0;
    outline: 0;
    background: none;
    display: block;
    text-align: center;
    margin: 20px auto;
    border: 1px solid yellowgreen;
    padding: 15px 10px;
    width: 300px;
    transition: 0.5s ease;
    border-radius: 25px;
    color: yellowgreen;
    font-size: 16px;
}

.contact-form input[type="text"]:focus {
    width: 340px;
    border-color: green;
} 

::placeholder {
    color: yellowgreen;
}
.form-btn {
    width: 140px;
    padding: 10px;
    background-color: yellowgreen;
    border: 10px solid yellowgreen;
    border: 10px;
    color: white;
    font-size: 16px;
    border-radius: 25px;
}
.footer {
    background: yellowgreen;
    width: 100%;
    padding: 40px 0;
}

.footer h2 {
    color: white;
    font-size: 16px;
    text-align: center;
}